.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.heading{
  color: #0a2e41;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.submitButton {
  background-color:  #0a2e41;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submitButton:hover {
  background-color:  #0a2e41;
}
